<ng-container *ngIf="input">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <label>Name*</label>
        <input type="text" formControlName="name" matInput required>

        <label>Amount*</label>
        <input type="number" formControlName="amount" matInput required>


        <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Submit</button>
    </form>
</ng-container>

<ng-container *ngIf="spinner">
    <mat-spinner></mat-spinner>
</ng-container>

<ng-container *ngIf="success">
    <div>
        <img src="../../assets/images/checked.svg" alt="accepted">
        <h1>Accepted</h1>
    </div>
</ng-container>

<ng-container *ngIf="failure">
    <div>
        <img src="../../assets/images/close.svg" alt="declined">
        <h1>Declined</h1>
    </div>
</ng-container>
